* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 16px;
    min-height: 30px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#bluetooth,
#custom-spotify,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#custom-spotify {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#cpu {
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#memory {
    border-radius: 0px 10px 10px 0px;
}

#clock {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  #a6adc8;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: #a6adc8;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #a6adc8;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color:#a6adc8;
}
